
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--introduction page title-->
<div class="bg-1" style="background-color: #fdf5e6;">
    <div class="container">
        <div class="row text-center">
            <h3 class="intro-h3 text-center" style="color: red;"> VỀ CHÚNG TÔI </h3>
            <p>
                <img src="~/Assets/Client/images/moto/di.png" />
            </p>
        </div>
    </div>
</div>

<!--introduction page content-->
<div class="bg-1 intro-content-background">
    <div class="container">
        <div class="row" style="margin-top: -50px;">
            <p class="p-gioi-thieu" style="font-style: normal;">
                <span class="span-gioi-thieu" style="font-size:20pt">
                    MOTORCYCLE
                </span>
                có cửa hàng chính tại quận Cầu Giấy, Hà Nội.
            </p><br>

            <p class="p-gioi-thieu" style="font-style: normal;">
                <span class="span-gioi-thieu">
                    MOTORCYCLE
                </span>
                nỗ lực phấn đấu nhằm hiện thực hóa giấc mơ của mọi khách hàng với niềm đam mê và khát khao, luôn đi tiên phong mang lại những sản phẩm tuyệt hảo và giá trị vượt trội thỏa mãn sự mong đợi của khách hàng. Quý khách hàng có nhu cầu với những chiếc xe ga, xe số, xe phân khối lớn, xe côn tay, xe thể thao có thể đến ngay showroom để xem hoặc xem qua các mẫu trên page, website của
                <span class="span-gioi-thieu">
                    MOTORCYCLE.
                </span>
            </p><br>

            <p class="p-gioi-thieu" style="font-style: normal;">
                Toàn bộ sản phẩm tại Showroom đều là những sản phẩm chính hãng được
                <span class="span-gioi-thieu">
                    MOTORCYCLE
                </span>
                lựa chọn cẩn thận, tỉ mỉ nhằm đưa dến quý khách hàng yêu xe những sản phẩm chất lượng nhất.
            </p><br>
        </div>

        <div class="row">
            <div class="col-sm-7">
                <p class="blog">KHƠI DẬY ĐAM MÊ</p>
                <p class="blog-con"> - Khơi dậy đam mê sáng tạo</p>
                <p class="blog-con"> - Chúng tôi tạo ra những giá trị và trải nghiệm vượt trội, làm phong phú cuộc sống cho mọi khách hàng.</p>
            </div>
            <div class="col-sm-5">
                <img src="~/Assets/Client/banner/gt.JPG" alt="Image" width="480" height="290">
            </div>
        </div>
        <br /><br />

        <div class="row">
            <div class="col-sm-7">
                <img src="~/Assets/Client/banner/gt.JPG" alt="Image" width="550" height="320">
            </div>
            <div class="col-sm-5">
                <p class="blog">Chúng tôi cam kết mang tới quý khách hàng:</p>
                <p class="blog-con"> - Những chiếc xe chất lượng tốt nhất.</p>
                <p class="blog-con"> - Với giá thành hợp lý nhất.</p>
                <p class="blog-con"> - Thủ tục sang tên chính chủ nhanh gọn nhất.</p>
                <p class="blog-con"> - Bảo hành tận tâm nhất cho từng chiếc xe.</p><br>
                <p class="blog">Đến với <span class="span-gioi-thieu">MOTORCYCLE </span>là đến với đam mê xe, là sự lựa chọn uy tín dành cho khách hàng !!!</p>
            </div>
        </div><br>

        <div class="row">
            <p class="p-gioi-thieu" style="text-align:left;font-style: normal;">
                ĐẶC BIỆT:  tặng bạn bảo dưỡng miễn phí trọn vẹn không giới hạn km tại 
                <span class="span-gioi-thieu">MOTORCYCLE.</span>
            </p>

            <span class="span-gioi-thieu">MOTORCYCLE:</span>
            <p class="blog-con blogg" style="font-style: normal;">
                - Địa chỉ uy tín nhất Miền Bắc về Mua Bán Các Loại Xe Số, Xe Ga, Xe Thể Thao, Xe Côn Tay Chất Lượng chạy lướt.
            </p>

            <p class="blog-con blogg" style="font-style: normal;"> 
                - Bảo hành máy và IC 1,5 năm.
            </p>

            <p class="blog-con blogg" style="font-style: normal;"> 
                - Giá xe tốt nhất, cạnh tranh nhất.
            </p>

            <p class="blog-con blogg" style="font-style: normal;"> 
                - Thủ tục mua bán nhanh gọn, bảo hành an ninh, tai nạn, hỗ trợ trả góp với lãi suất thấp.
            </p>

            <p class="blog-con blogg" style="font-style: normal;"> 
                - MOTORCYCLE cam kết tất cả các xe đều được nhập khẩu nguyên chiếc.
            </p>

            <p class="blog-con blogg" style="font-style: normal;"> 
                - Anh em vui lòng goi : 0948.563.263 hoặc 0334.679.170
            </p>

            <p class="blog-con blogg" style="font-style: normal;"> 
                - Cơ sở tại: T3H - Mai Dịch - Hà Nội
            </p>
            <br />

            <p class="p-gioi-thieu" style="font-style: normal;">
                <span class="span-gioi-thieu"> ❤ MOTORCYCLE</span> rất hân hạnh phục vụ quý khách. <span class="span-gioi-thieu">  ❤</span>
            </p>
            <br><br>
        </div>
    </div>
</div>
