
@{
    ViewBag.Title = "Thông báo thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-1" style="background-color: #fdf5e6;">
    <div class="container" style="padding: 80px 0px 50px 0px;">
        <div class="row text-center">
            <h3 class="text-center cart-error-h3" style="color: red;"> THANH TOÁN ĐƠN HÀNG </h3>
            <p> <img src="~/Assets/Client/images/moto/di.png" /></p>
        </div>
    </div>
</div>

<div id="wrapper">
    <div id="maincontent">
        <div class="container" style="padding: 50px 0px 0px 0px">
            <div class="col-md-12" style="padding-bottom: 20px;margin-bottom: 50px;border-radius: 8px;">
                <section class="text-center">
                    <span class="alert alert-success">Thanh toán đơn hàng thành công ! Chúng tôi sẽ liên hệ lại với bạn sớm nhất !</span>
                </section>
            </div>
        </div>
    </div>
</div>

